@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Chivo", sans-serif;
  font-weight: 300;
  background-image: url("assets/mobile/image-host.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(18, 23, 37, 0.8);
  height: 100vh;
  text-align: center;
}

.img-logo {
  margin: 62px 0 74px 0;
}

.img-host-tablet {
  display: none;
}

.img-host-desktop {
  display: none;
}

.img-dots {
  display: none;
}

.img-dots-desktop {
  display: none;
}

.img-spotify {
  width: 17.7778%;
}

.img-apple {
  width: 14.6032%;
}

.img-google {
  width: 22.3242%;
}

.img-pocket {
  width: 24.4444%;
}

/* ==========
 TYPOGRAPHY
 ========== */
h1 {
  font-weight: 300;
  font-size: 26px;
  line-height: 38px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 15px;
}

.highlighted-text {
  color: #54e6af;
}

p {
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #c2cbe5;
  margin-bottom: 33px;
}

/* ==========
 LAYOUT
 ========== */
main {
  width: 87.2%;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 96.3303%;
  margin: 0 auto 48px auto;
  order: -1;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input {
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  color: #fff;
  background: #2c344b;
  border: unset;
  outline: unset;
  border-radius: 28px;
  padding: 9px 0 9px 32px;
  margin-bottom: 16px;
}

input:focus {
  background: #2c344b;
}

input::placeholder {
  color: #fff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.input-label {
  display: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #fb3e3e;
}

button {
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  color: #121725;
  background: #54e6af;
  box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.2);
  border: unset;
  outline: unset;
  border-radius: 28px;
  padding: 9px 0;
  cursor: pointer;
}

/* ==========
 MEDIA QUERIES
 ========== */
@media (min-width: 768px) {
  body {
    background-image: none;
    background: #121725;
    text-align: left;
    position: relative;
    z-index: -2;
    height: auto;
  }

  .img-logo {
    margin: 50px 0 152px 39px;
  }

  .img-host-tablet {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 491px;
    height: 767px;
    z-index: -1;
  }

  .img-dots {
    display: block;
    position: absolute;
    top: 100%;
    left: 30px;
  }

  .img-spotify {
    width: 17.9104%;
  }

  .img-apple {
    width: 14.5522%;
  }

  .img-google {
    width: 23.3209%;
  }

  .img-pocket {
    width: 24.0672%;
  }

  /* ==========
       TYPOGRAPHY
       ========== */
  h1 {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 31px;
  }

  p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 40px;
    text-align: left;
    width: 70.0787%;
  }

  /* ==========
       LAYOUT
       ========== */
  main {
    width: 82.6823%;
    height: 509px;
    margin: 0 auto 257px 39px;
    background: #121725;
    padding: 93px 0 0 0;
    z-index: 1;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
  }

  .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 84.4094%;
    margin: 0;
    order: 1;
  }

  form {
    display: flex;
    flex-direction: row;
    width: 67.2441%;
    position: relative;
    margin-bottom: 69px;
  }

  input {
    padding: 14px 0 14px 32px;
    width: 100%;
    margin-bottom: 0;
  }

  input::placeholder {
    color: #fff;
    mix-blend-mode: normal;
    opacity: 0.5;
  }

  .input-label {
    position: absolute;
    top: 64px;
    left: 32px;
  }

  button {
    padding: 9px 27px;
    position: absolute;
    top: 5px;
    right: 5px;
  }

  footer {
    position: relative;
  }
}

@media (min-width: 1200px) {
  body {
    background-image: none;
    background: #121725;
    text-align: left;
    position: relative;
    z-index: -2;
    height: auto;
  }

  .img-logo {
    margin: 102px 0 103px 165px;
  }

  .img-host-tablet {
    display: none;
  }

  .img-host-desktop {
    display: block;
    position: absolute;
    top: 130px;
    right: 0;
    /* width: 61.6667%; */
    z-index: -1;
  }

  .img-dots {
    display: none;
  }

  .img-dots-desktop {
    display: block;
    position: absolute;
    top: -185px;
    right: 0;
  }

  .img-spotify {
    width: 17.9104%;
  }

  .img-apple {
    width: 14.5522%;
  }

  .img-google {
    width: 23.3209%;
  }

  .img-pocket {
    width: 24.0672%;
  }

  /* ==========
             TYPOGRAPHY
             ========== */
  h1 {
    font-size: 52px;
    line-height: 62px;
    margin-bottom: 24px;
  }

  p {
    width: 61.5491%;
  }

  /* ==========
             LAYOUT
             ========== */
  main {
    width: 50.2083%;
    height: 509px;
    margin: 0 auto 130px 165px;
    background: #121725;
    padding: 88px 0 0 0;
    z-index: 1;
  }

  .icons {
    width: 74.1355%;
  }

  form {
    width: 59.0595%;
    margin-bottom: 64px;
  }

  button:hover,
  button:focus {
    background: #b3ffe2;
  }

  footer {
    position: relative;
  }
}
